{% extends 'template.html' %}
{% block body %}
    <div class="container border p-3 mt-5">
        <div class="row g-4 justify-content-center">
            <div class="col">
                <h1>{{ current_user.username }}</h1>
                <p>Email: {{ current_user.email }}</p>
            </div>
            {% if current_user.username != 'admin' %}
                <div class="col-8">
                    <div class="card border-0">
                        <div class="card-title mb-3">
                            <h2>Update account</h2>
                            <hr class="border border-secondary opacity-75">
                        </div>
                        <form method="post">
                            {{ form.csrf_token }}
                            <div class="row g-2">
                                <div class="col-12">
                                    <div class="form-floating">
                                        {% if form.username.errors %}
                                            {{ form.username(class="form-control is-invalid", placeholder="example_name") }}
                                            <div class="invalid-feedback">{{ form.username.errors[0] }}</div>
                                        {% else %}
                                            {{ form.username(class="form-control", placeholder="example_name") }}
                                        {% endif %}
                                        {{ form.username.label }}
                                    </div>
                                </div>
                                <div class="col-12">
                                    <div class="form-floating">
                                        {% if form.email.errors %}
                                            {{ form.email(class="form-control is-invalid", placeholder="example_name") }}
                                            <div class="invalid-feedback">{{ form.email.errors[0] }}</div>
                                        {% else %}
                                            {{ form.email(class="form-control", placeholder="example@mail.com") }}
                                        {% endif %}
                                        {{ form.email.label }}
                                    </div>
                                </div>
                            </div>
                            <div class="mt-4 mb-3">
                                {{ form.submit(class="btn btn-primary btn-md") }}
                            </div>
                        </form>
                    </div>
                </div>
            {% endif %}
        </div>
    </div>
{% endblock %}