{% extends 'template.html' %}
{% block body %}
<div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
  <div class="px-3">
    <h1>Welcome</h1>
    <p class="lead">This is shop where you can buy keys of activation. If you want to find something, see the catalog.</p>
    <p class="lead">
      <a href="/catalog">Catalog</a>
    </p>
      <p class="lead">If you want to buy something, text me in telegram.</p>
      <p class="lead">
          <a href="https://t.me/aaaruslan">Telegram</a>
      </p>
  </div>
</div>
{% endblock %}